<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Whot</title>
    <link rel="stylesheet" href="./css/whot.css">
    <link rel="shortcut icon" href="./img/favicon.jpg" type="image/x-icon">
</head>
<body class="intro">
    <div class="overlay" id="launch">
        <div class="card">
            <center>
                <img src="./img/favicon.jpg" class="logo">
                <h2 style="color:#2a2b2d;margin-bottom:10px">Naija Whot</h2>
                <div class="instructions">A card game for all ages and background.</div>
            </center>
            <div class="padded-top">
                <a href="./computer">
                    <button class="widget w-red">Play with Computer</button>
                </a>
            </div>
            <div class="padded-top">
                <a href="./multiplayer/friend">
                    <button class="widget w-blue">Challenge Friend</button>
                </a>
            </div>
            <div class="padded-top">
                <a href="./multiplayer/online">
                    <button class="widget w-purple">Online Multiplayer</button>
                </a>
            </div>
            <div class="padded-top">
                <center class="instructions">
                    <b>Assets and theme by:</b>
                    <a href="https://github.com/EdinyangaOttoho/Whot-cards">Edinyanga Ottoho</a>
                </center>
            </div>
        </div>
    </div>
    <script src="./js/whot.js"></script>
</body>
</html>