<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Multiplayer | Whot</title>
    <link rel="stylesheet" href="../css/whot.css">
    <link rel="shortcut icon" href="../img/favicon.jpg" type="image/x-icon">
</head>
<body class="intro">
    <div class="overlay" id="launch">
       
    </div>
    <script src="../js/whot.js"></script>
    
</body>
</html>